.Rproj.user
.Rhistory
.Ruserdata
*.xml
*.iml
*.DS_Store
*.gz
*.swp
/diana_scripts/CELL_TYPE_COMPARISON_CRD_ANNOTATION
/diana_scripts/pathways/trans_hubs_genes
/diana_scripts/pathways/background_lists_of_genes
/diana_scripts/pathways/subset_trans_hubs_genes
/diana_scripts/pathways/subset_TRH_genes_names
/diana_scripts/pathways/results
*.Rproj
diana_scripts/.RData
*.pdf
*.png
*.pdf
*.csv
*.pkl
*.gtf
